<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382583469703-h8o28a5p4loa81qqhg2cvtq5p0shsogf.apps.googleusercontent.com</string>
	<key>RESERVED_KEY</key>
	<string>com.googleusercontent.apps.382583469703-h8o28a5p4loa81qqhg2cvtq5p0shsogf</string>
	<key>API_KEY</key>
	<string>AIzaSyD7eB6yMG2wQmNAbPXpOgjyS7JDCc0g0SA</string>
	<key>GCM_SENDER_ID</key>
	<string>382583469703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wavefinder</string>
	<key>PROJECT_ID</key>
	<string>wavefinder-417017</string>
	<key>STORAGE_BUCKET</key>
	<string>wavefinder-417017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382583469703:ios:67b11e7f772878ab45ea22</string>
</dict>
</plist>