<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
			<dict>
					<key>CFBundleURLSchemes</key>
					<array>
							<string>com.googleusercontent.apps.382583469703-h8o28a5p4loa81qqhg2cvtq5p0shsogf</string>
					</array>
			</dict>
	</array>
	<key>GoogleSignIn</key>
	<dict>
			<key>ClientId</key>
			<string>382583469703-h8o28a5p4loa81qqhg2cvtq5p0shsogf.apps.googleusercontent.com</string>
	</dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>App</string>
  <key>CFBundleIdentifier</key>
  <string>io.flutter.flutter.app</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>WaveFinder</string>
  <key>CFBundlePackageType</key>
  <string>FMWK</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>MinimumOSVersion</key>
  <string>13.0</string>
</dict>
</plist>
